*{
    font-family: 'Wix Madefor Display' ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --theme-color:#7f36bf;
    --nav-color:rgb(249, 89, 249);
}

main{
    margin: 0 auto; 
    max-width: 100vw;
    min-height: fit-content;
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header,.header-content{
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    width: 100%;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-content{
    position: fixed;
    z-index: 500;
    align-self: center;
}
.logo{
    height: 55px;
}

header nav{
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    overflow-y: hidden;
}

nav a{
    padding: 5px;
    font-size: 1.1rem;
    color: var(--nav-color);
    position: relative;
    font-weight: 600;
}

nav a:hover{
    color: hsl(300, 93%, 40%);
}

nav a:after{
    content: '';
    background-color: var(--theme-color);
    height: 0px;
    width: 0%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: width 0.5s ease;
    transition-behavior: center;
}

nav a:hover::after{
    height: 2px;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 23px;
    width: 30px;
    cursor: pointer;
    align-items: center;
}
.menu .bar{
    background-color: #000;
    height: 2px;
    width: 100%;
    transition: transform 0.2s ease-in ;
}

.active .bar1{
    transform: rotate(44deg);
    height: 2px;
    transform-origin: left;
}
.active .bar2{
    transform: rotate(-45deg) translateX(-3px);
    height: 2px;
    transform-origin: center;
}
.active .bar3{
    visibility: hidden;
}

.menu{
    display: none;
}

.hero{
    margin: 0 auto;
    margin-top: -60px;
    display: flex;
    max-width: 1200px;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 40;
}

.absolute{
    position: fixed;
    top: 30px;
    left: -10px;
    height: 150px;
    width: 150px;
    transform: rotateY(180deg);
}

.absolute img{
    height: 100%;
    width: 100%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero .hero-text .company-name{
    font-size: 60px;
    color: red;
    z-index: 40;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero .hero-img{
    max-width: 500px;
    min-height: 400px;
}

.hero .hero-img img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.product,.service{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

.heading{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: var(--theme-color);
    position: relative;
}
.heading::before{
    content: '';
    background-color: red;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.right,.left{
    margin-block: 10px;
}
.right img{
    float: right;
}

.left img{
    float: left;
}

.right .title{
    font-size: 32px;
    margin-top: 40px;
    text-align: left;
}
.left .title{
    font-size: 32px;
    margin-top: 40px;
    text-align: right;
}

.left p{
    display: flex;
    align-content: right;
    text-align: right;
    font-size: 23px;
    max-width: 730px;
    width: 100%;
}
.right p{
    display: flex;
    align-content: left;
    text-align: left;
    font-size: 23px;
    max-width: 730px;
    width: 100%;
}

@media (max-width:700px) {
    header{
       max-width: 490px;
       width: 100%;
       justify-content:center;
    }

    .menu{
        display: flex;
        align-self: center;
        padding-right: 5px;
    }
    nav{
        margin: 0 1px;
        padding: 1px;
        display: flex;
        flex-direction: column;
        max-width: 250px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        gap: 0.5rem;
        position: absolute;
        top: 60px;
        left: 5px;
        transition: height 0.5s ease-in-out;
        z-index: 100;
        backdrop-filter: blur(10px);
    }

    .active nav{
        height: 180px;
    }
    nav a{
        border-left:2px solid var(--theme-color);
    }
    .hero{
        flex-wrap: wrap;
        text-align: center;
    }
    .hero .hero-text .company-name{
        font-size: 32px;
        margin-top:60px;
    }
    .absolute{
        position: fixed;
        top: 200px;
        left: -20px;
    }

    .product{
        overflow-x: hidden;
    }
    .service{
        overflow-x: hidden;
    }

    .product .title ,.service .title{
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;

    }
    .product img,.service img{
        float: none;
        margin-top: 30px;
        display: block;
        margin-inline: auto;
    }

    .product #img{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .product p,.service p{
        text-align: center;
        margin-bottom: 20px;
        max-width: 500px;
        width: 100%;
    }
}
